<h1>Instagram Feed </h1>

<p><%= link_to "Create new post", {:action => 'new' } %></p>

<p><%= link_to "Show All posts", root_path %></p>

<h2> Filter by a given hashtag </h2>

<%= form_with url: '/posts', method: :get  do |form| %>
  <%= form.label "Hashtag:"%>
  <%= form.text_field :hashtags_filter %>
  <%= form.submit "Filter" %>
<% end %>

<% flash.each do |_type, message| %>
  <div style="color: red">
  <%= message %>
  </div>
<% end %>

<h3> Look at all your posts below </h3>
<% @posts.reverse.each do |post| %>
  <p>
  <%= post.content %>
  <% if post.updated_at - post.created_at > 0.022  %>
     (Edited)
  <% end %>
    <%= link_to 'Full Post', post %>
    <%= link_to "Edit", edit_post_path(post) %>
  </p>
<% end %>