<h1> <%= @post.content%> </h1>

<body>

<img src="<%= url_for(@post.post_photo) %>">
<p>
<% @post.hashtags.each do |tag| %>
  #<%= tag%>
<%end%>
</p>
<p> Posted by </p>

<p> User Placeholder </p>

<%= @post.created_at.strftime("%d-%m-%Y @ %H:%M") %>

</body>

<p><%= link_to "Back to Feed", root_path %></p>